<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SectionExtend" type="ConfigExtendDemo.SectionExtendTest.SectionExtendSection, ConfigExtendDemo" />
    <section name="SectionExtend2" type="ConfigExtendDemo.Section_Element.SectionExtend2, ConfigExtendDemo" />
    <section name="SectionExtend3" type="ConfigExtendDemo.Section_Collection.SectionExtend3, ConfigExtendDemo" />
    <section name="MySection333" type="ConfigExtendDemo.Section_CDATA.MySection, ConfigExtendDemo" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--http://www.cnblogs.com/fish-li/archive/2011/12/18/2292037.html#!comments-->
  <!--section/property:每个配置值以属性方式存在-->
  <SectionExtend username="shanghai" url="www.rongzi.com"></SectionExtend>

  <!--section/Element(只有一个element):每个配置项以XML元素的方式存在-->
  <SectionExtend2>
    <User username="shanhghai" url="shanghai.rongzi.com"></User>
  </SectionExtend2>

  <!--section/Collection-->
  <SectionExtend3>
    <!--<add cityname="shanhghai" content="shanghai.rongzi.com"></add>--><!--collection 默认itemname:add-->
    <City cityname="shanhghai" content="shanghai.rongzi.com"></City>
    <City cityname="beijin" content="beijin.rongzi.com"></City>
    <City cityname="guangzhou" content="guangzhou.rongzi.com"></City>
  </SectionExtend3>

  <!--有时配置参数包含较长的文本，比如：一段SQL脚本，或者一段HTML代码，那么，就需要CDATA节点了。假设要实现一个配置，包含二段SQL脚本-->
  <MySection333>
    <Command1>
      <![CDATA[
                create procedure ChangeProductQuantity(
                    @ProductID int,
                    @Quantity int
                )
                as
                update Products set Quantity = @Quantity 
                where ProductID = @ProductID;
            ]]>
    </Command1>
    <Command2>
      <![CDATA[
                create procedure DeleteCategory(
                    @CategoryID int
                )
                as
                delete from Categories
                where CategoryID = @CategoryID;
            ]]>
    </Command2>
  </MySection333>

</configuration>